body {
    font-family: 'Candara', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

nav {
    display: flex;
}

.logo {
    margin-right: auto;
    float: left;
}

.logo img {
    max-height: 200px;
    float: left;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.intro {
    text-align: center;
}

.intro-heading {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.intro-heading:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 4px;
}

.intro p {
    font-size: 18px;
    color: #555;
}

.featured-courses {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.section-heading {
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.section-heading:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 4px;
}

.courses-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.course {
    flex: 0 0 calc(30% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.course img {
    height: 30vh;
    margin-bottom: 15px;
}

.course h4 {
    margin-top: 0;
}

.course p {
    color: #555;
}

.course a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.course a:hover {
    background-color: #555;
}

.cta {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.container1{
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 20px;
}
.container1 h2{
    text-align: center;
    text-decoration: underline;
}
.container {
    max-width: 1170px;
    max-height: 100px;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #e3c8c8;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* responsive */
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
